* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-md-4,
.col-md-6,
.col-sm-6,
.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

ul,
nav,
body,
h1,
h2,
h4,
h6,
p,
figure {
    margin: 0;
    padding: 0;
}
p {
    fontt-size: 16px !important;
}
a {
    transition: all ease 0.5s;
}
a:hover, a:focus{ text-decoration: none;}
a:focus {outline: none; }
img { max-width:100%; height:auto; -webkit-backface-visibility: hidden; }
p {margin:0 0 22px 0}
video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }
ul, ol{ margin: 0px; }
.hidden {
    display: none !important;
}

.html-overflow { overflow: hidden;}

.content-padding{
    padding: 80px 0;
}

/* ===================================
    Header
====================================== */

.header-banner{
}
.nav-logo{
    max-height: 60px;
}
.navbar{
    padding: 20px 0 20px;
    z-index: 999;
    width: 100%;
    border-radius: 0;
    border: 0;
}
.navbar li {
    margin:13px 20px;
}
.navbar li:last-child {
    margin-right: 0;
}
.navbar li a {
    font-size: 12px;
    padding: 0;
    cursor: pointer !important;
    border-bottom: 1px solid transparent;
}
.navbar li a:hover {
    opacity: 0.8;
}
.navbar li a.active, .navbar li.active > a, .nav .open>a, .nav .open>a:hover {
    opacity: 0.8;
}
.inner-link{
    text-decoration:none;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #fff;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    transition-delay: 2s;
    transition-timing-function: ease-out;
  }


/* ===================================
    Slide
====================================== */

.carousel-item{
    height: 450px;
}
.slider-content{
    top: 20%;
}
.slider-content h1{
    margin-bottom: 70px;
    color: #f3605c;
    font-weight: 600;
    font-size: 80px;
}
.slider-content p{
    font-size: 20px;
}


