@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Implicits JSC - COMPANY SPECIALIZED IN SCALA</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/icons/logo.png")">


        <!-- Boostrap CSS-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">

        <!-- java script library -->
        <script language="JavaScript" type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-3.6.0.js")"></script>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Boostrap JavaScript Bundle with Popper -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<!--        carousel-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body >
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content



    </body>
</html>
