@* register Template File *@
@(registerForm: Form[RegisterData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Register") {
<!--/* ===================================-->
<!--Header-->
<!--====================================== */-->
<header class="header-style bg-white fixed-top border-bottom" style="" id="header-section">
    <div class="header-banner container nav-bar flex-shrink-1 ">
        <div class="align-middle py-3" >
            <div class="row align-items-center">
                <div class="col-md-3 logo">
                    <a href="./" class="nav-link inner-link">
                        <img src="@routes.Assets.versioned("images/icons/logo.png")" class="nav-logo">
                    </a>
                </div>
                <div class="col-md-9 nav-menu">
                    <div>
                        <ul class="nav navbar justify-content-end">
                            <li>
                                <a class="nav-link inner-link text-dark" href="#header-behind">HOME</a>
                            </li>
                            <li>
                                <a class="nav-link inner-link text-dark" href="#content-section2">WHY SCALA</a>
                            </li>
                            <li>
                                <a class="nav-link inner-link text-dark" href="#content-section3">COMPANY</a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle inner-link text-dark" data-toggle="dropdown"
                                   href="./#services-section" id="btn-services">SERVICES</a>
                                <div class="dropdown-menu dropdown-content" aria-labelledby="defaultDropdown">
                                    <a href="./web.html" class="dropdown-item">WEB DEVELOPMENT</a>
                                    <a href="./SAAS.html" class="dropdown-item">SAAS/PAAS DEVELOPMENT</a>
                                    <a href="./mobile.html" class="dropdown-item">MOBILE DEVELOPMENT</a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link inner-link text-dark" href="#about-section">ABOUT US</a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle inner-link text-dark" data-toggle="dropdown"
                                   href="./login.html" id="">LOG IN</a>
                                <div class="dropdown-menu dropdown-content" aria-labelledby="defaultDropdown">
                                    <a href="./register.html" class="dropdown-item">REGISTER</a>
                                    <a href="./" class="dropdown-item">LOG OUT</a>
                                </div>
                            </li>
                            <li>
                                <a href="./contact.html"
                                   class="inner-link btn btn-small bg-danger text-white border-radius-0 sm-padding-nav-btn sm-display-inline-block"
                                   style="padding: 3px 17px">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div style="height: 97px" id="header-behind" class="bg-light"></div>

<!--/* ===================================-->
<!--Form-->
<!--====================================== */-->
<h2 style="background-color: orange; padding: 15px" id="register-form">Sign up now with Play form</h2>


@helper.form(action = routes.UserController.validateRegisterForm){
@helper.CSRF.formField
@helper.inputText(registerForm("Username"))
@helper.inputPassword(registerForm("Password"))
<div class="form-action">
    <button type="submit">Submit</button>
</div>
}

<br>
<div>
    <h3 style="background-color: red; color: white">Already have an account?</h3>
    <button><a href="@routes.UserController.login" style="text-decoration: none; margin: 5px;">Login</a></button>
</div>
}